/*-------------------------FOOTER-------------------- */
footer {
    text-align: center;
    padding: 20px;
    background-color: #009688;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}